In [2]:
import pymysql

In [3]:
# 設定資料庫連線資訊
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'TESTDB'
charset = 'utf8mb4'

In [4]:
# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [6]:
cursor = conn.cursor()

In [7]:
# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

#資料庫中可用此字串格式當作datetime'2020-04-24 14:59:57'

# 將指令放進 cursor 物件，並執行 / 塞一筆資料會回傳1
cursor.execute(sql)

1

In [8]:
#pymysql並不會自動commit/ commit後資料才會寫進去
conn.commit()

#需要commit: 新刪修

In [9]:
select_squl = """
select * from staff
"""

cursor.execute(select_squl)

1

In [10]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [11]:
#已被拿完 再拿一次就沒東西
cursor.fetchall()

()

## 在處理巨量的檔案 建議批次處理

In [13]:
 data = [('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]
 
 # 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [14]:
cursor.executemany(sql_insert, data)

IntegrityError: (1062, "Duplicate entry '001' for key 'staff.PRIMARY'")

In [16]:
#上面錯誤顯示001的key已在ＤＢ裡頭 所要先刪除掉001
cursor.execute("delete from staff where ID = '001'")

1

In [17]:
#刪完藥commit才會執行
conn.commit()

In [18]:
cursor.executemany(sql_insert, data)

8

In [19]:
#確認總共幾筆資料
cursor.execute("select * from staff")

8

In [20]:
#資料儲存
db_data = cursor.fetchall()

In [21]:
db_data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('003',
  'Allen',
  '001',
  22,
  'M',
  50000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('004',
  'Tom',
  '002',
  47,
  'M',
  47000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('005',
  'Jack',
  '003',
  36,
  'M',
  52000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('006',
  'Abby',
  '002',
  24,
  'F',
  45000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('007',
  'Trump',
  '001',
  80,
  'M',
  80000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)),
 ('008',
  'Marry',
  '003',
  29,
  'F',
  87000,
  datetime.datetime(2020, 10, 13, 21, 41, 49)))

In [22]:
#執行完畢後要關閉cursor and connection
cursor.close()
conn.close()