In [ ]:
from urllib.parse import quote_plus

import pandas as pd
from sqlalchemy import create_engine

username = quote_plus("root")
password = quote_plus("1qaz@WSX")
server = "host.docker.internal:3306"
db_name = "testdb"

conn = create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect()

In [ ]:
df = pd.read_sql(
    "select * from staff",
    conn,
)

df

In [ ]:

conn.close()

In [ ]:
with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:
    df = pd.read_sql(
        "select * from staff",
        conn,
    )

df

In [ ]:
df.loc[8] = ["009", "Test", "004", 50, "F", 100000, pd.to_datetime("2020-10-13 21:41:49")]

In [ ]:
df

In [ ]:
conn = create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect()

df.to_sql(
    "Staff",
    conn,
    "TESTDB",
    if_exists="replace",
    index=False,
)

In [ ]:
conn.close()

In [ ]:
with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:
    df.to_sql(
        "Staff",
        conn,
        "TESTDB",
        if_exists="replace",
        index=False,
    )

In [ ]:
df["ID"] = df["ID"].apply(lambda x: x.replace("00", "01"))

In [ ]:
config = {
    "if_exists": "append",
    "index": False,
}

with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:
    df.to_sql(
        "Staff",
        conn,
        "TESTDB",
        **config
    )

In [ ]:
df["ID"] = df["ID"].apply(lambda x: x.replace("02", "03"))

with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:
    df.to_sql(
        "Staff",
        conn,
        **config
    )

In [ ]:
user_id = "001"

with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:

    df = pd.read_sql(
        """
        select * from staff
        where ID = %(tmp_id)s
        """,
        conn,
        params={
            "tmp_id": user_id
        }
    )

df

In [ ]:
user_id = "001' or 1 = 1 or ID = '"

with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}",
).connect() as conn:

    df = pd.read_sql(
        f"""
        select * from staff
        where ID = '{user_id}'
        """,
        conn,
    )

df